.image-container {
    position:relative; 
    width:1600px100%;
    margin: 0 auto;
}
.image-container img {
width: 100%;
height: auto;
margin: 0 auto;
}
.Navigator {
    position:absolute;
    top:40%;
    left:15%;
    color:white;
    font-size: 30px;
}
h1 {
    position:absolute;
    top:20%;
    left:10%;
    color: white;
    font-size: 60px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 12px;
    color:#444;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 18px;
    color:#444;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 14px;
    color:#444;
    font-weight: bold;
}
body {
    line-height: 1.6;
    font-family: 'Roboto',arial,sans-serif;
    margin:20px;
}
#menu {
    text-align: center;
}
.menu-title {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color: #444;
    color: white;
}
#menu p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-top: 10px;
    color:rgb(79, 76, 76);
   
}
.Dev-Fav {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color: #444;
    color: white;
}

#about {
    margin-top: 40px;
    margin-bottom: 50px;
}

.About-images {
    margin: 30px;
}
